<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Read Manga</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nsfw">NSFW Manga</a>
  </li>
</ul>